<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h4>Hi, <%= @current_user.username%> </h4>
    <% else %>
      <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
        <label>Username</label>
        <%= text_field_tag :username %> <br>
        <label>Password</label>
        <%= text_field_tag :password %> <br>
        <%= submit_tag %>
      <% end %>

    <% end %>

    <%= yield %>
  </body>
</html>
